{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau menu{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                            <i class="la la-info-circle"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                {% block portlet_head %}Détails du menu{% endblock %}
                            </h3>
                        </div>
                    </div>
                </div>
                {{ form_start(form, {'attr': {'class' : 'm-form'} }) }}
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group">
                            {{ form_row(form.name, {'attr': {'class' : 'form-control m-input'}} ) }}
                        </div>
                        <div class="form-group m-form__group">
                            {{ form_row(form.title, {'attr': {'class' : 'form-control m-input'}}) }}
                        </div>
                        <div class="form-group m-form__group">
                            {{ form_row(form.route, {'attr': {'class' : 'form-control m-input'}}) }}
                        </div>
                        <div class="form-group m-form__group">
                            {{ form_row(form.parent, {'attr': {'class' : 'form-control m-input'}}) }}
                        </div>
                        <div class="form-group m-form__group">
                            {{ form_row(form.icon, {'attr': {'class' : 'form-control m-input'}}) }}
                        </div>
                        <div class="form-group m-form__group">
                            {{ form_row(form.position, {'attr': {'class' : 'form-control m-input'}}) }}
                        </div>
                        <div class="form-group m-form__group">
                            {{ form_row(form.isActive, {'attr': {'class' : 'form-control m-checkbox'}}) }}
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-success">{% block submit_btn_name %}Créer le nouveau menu{% endblock %}</button>
                                <a href="{{ path('menus') }}"><button type="button" class="btn btn-secondary">Annuler</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                            <i class="la la-warning"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Permissions
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group">
                            {{ form_row(form.groupe, {'attr': {'class' : 'form-control m-input'}}) }}
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-12"></div>
                        </div>
                    </div>
                </div>



                <!--end::Form-->
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}